$super-extra-small: 360px;
$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

.header {
    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        height: 68px;
        margin-top: 25px;
    }
}

@media only screen and (max-width: $medium) {

    .header {
        &__logo {
            height: 40px;
        }

        &__wrapper {
            margin-top: inherit;
        }
    }

}

@media only screen and (max-width: $small) {

    .header {
        &__logo {
            height: 25px;
        }
    }
}