.error {
    &__homelink {
        font-size: 14px;
    }

    &__message {
        display: flex;
        flex-flow: column nowrap;        
    }

    &__title {
        font-size: 8em;
        font-weight: 700;
    }

    &__wrapper {
        display: flex;
        text-align: center;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        min-height: 50vh;
    }
}