.footer {
    &__img {
        max-height: 40px;
    }

    &__text {
        color: #ffffff;
        font-weight: 500;
        font-size: 24px;
    }

    &__wrapper {
        background-color: #000000;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        min-height: 150px;
        justify-content: center;
        gap: 20px;
    }
}