$super-extra-small: 360px;
$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

.housingcard {
    &__title {
        padding: 10px;
        color: #ffffff;
    }

    &__wrapper {
        display: flex;
        align-items: end;
        width: 340px;
        height: 340px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width: $large) {

    .housingcard {
        &__wrapper {
            height: 255px;
        }
    }
        
}

@media only screen and (max-width: $small) {

    .housingcard {
        &__wrapper {
            width: inherit;
        }
    }
}