nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 50px;

    a {
        text-decoration: none;

        &:hover, &:active {
            text-decoration: underline;
        }
    }
}