* {
  font-family: "Montserrat", sans-serif;
}

.header__logo {
  width: 100px;
}
.header__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
