$super-extra-small: 360px;
$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
    font-size: 18px;
    font-weight: 400;
}

.boxed-body {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    background-color: #ffffff;
    max-width: 1440px;
    margin: auto;
    padding: 0 100px;
    min-height: 85vh;
}

body {
    margin: 0;
}

header {
    width: 100%;
}

html {
    box-sizing: border-box;
}

#root {
    background-color: #f1eeee;
}

.body {
    &__wrapper {
        margin: 0 auto 0 !important;
    }
}

.no-display {
    display: none !important;
}

.wrapper {
    &__boxed {
        max-width: 1440px;
        background-color: #ffffff;
        margin: 0 auto 0;
    }
}

@media only screen and (max-width: $medium) {

    .boxed-body {
        gap: inherit;
        padding: inherit;
    }

    .wrapper {
        &__boxed {
            padding-right: 25px;
            padding-left: 25px;
        }
    }
}

@media only screen and (max-width: $small) {

    * {
        font-size: 12px;
    }

}