$super-extra-small: 360px;
$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
    font-size: 18px;
    font-weight: 400;
}

body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    background-color: #ffffff;
}

.wrapper {
    &__boxed {
        max-width: 1440px;
        background-color: #ffffff;
        padding-right: 100px;
        padding-left: 100px;
    }

    &__root {
        background-color: #f1eeee;
    }
}

@media only screen and (max-width: $medium) {

    #root {
        gap: initial;
    }

    .wrapper {
        &__boxed {
            padding-right: 25px;
            padding-left: 25px;
        }
    }
}

@media only screen and (max-width: $small) {

    * {
        font-size: 12px;
    }

}